* {
    background-color: bisque;
}

img {
    border-radius: 30px;
    border-color: black;
    border-width: 5mm;
    border: 3px solid;
}

h1, h2 {
    text-decoration: underline;
}

hr {
    opacity: 30%;
}

.sub-unordered {
    list-style-type: disc;
    margin-left: -25px;
}

.sub-unordered ::marker {
    color: grey;
}

#index-recipe-list {
    display: block;
    text-align: center;
    align-content: center;
}

#index-recipe-list > ul {
    display: inline-block;
    list-style-type: disc;
    text-align: left;
    margin-left: -20px;
}